body{
    font-family: sans-serif;
    background-color: rgb(255, 206, 229);
}
h2{
    border-radius: 30px;
    background-color: rgb(30, 42, 219);
    color: rgb(149, 236, 255);
}
h3{
    border-radius: 30px;
    background-color: pink;
    color: rgb(217, 31, 62);
}
h4{
    text-align: center;
    border-radius: 30px;
    background-color: pink;
    color: rgb(217, 31, 62);
}
p{
    color: orangered;
}

div {
    font-size: 30px;
    font-weight: bold;
    color: rgb(1, 1, 12);
}
.grid_container{ 
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 7px;
        grid-row-gap: 7px;
        }
#Pic{
    grid-area: 1 / 1 / 2 / 2;
    width: 80%;
    text-align: center;
    background-color: rgb(255, 137, 206);
    padding-top: 320px;
}
#Name {
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;
    background-color: rgb(255, 137, 206);
    border-radius: 30px;
    color: rgb(255, 215, 211)
}
#Detail{
    text-align: center;
    grid-area: 3 / 1 / 4 / 2;
}
#My_Assignment{
    text-align: center;
    grid-area: 3 / 2 / 4 / 3;
}
.Main{
    text-align: center;
}
button {
    width: 70%;
    font-size: medium;
    background-color: #ef35c7; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 25px; 
    cursor: pointer; 
}
button:hover {
    width: 75.35%;
    background-color: #b81194; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 25px; 
    cursor: pointer; 
}
@media only screen and (max-width: 680px){
    .grid_container{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    #Pic{
        background-color:  rgb(255, 206, 229);
        padding-top: 20px;
        margin-left: 30%;
        margin-top: 50px;
        text-align: center;
        width: 50%;
    }
    #header{
        grid-column: 1 / span 2;
    }
    h3{
        text-align: center;
        color:rgb(255, 25, 0);
        background-color: rgb(233, 225, 15);   
    }
}  

  
