body {
    font-family: sans-serif;
    background-color: #4cacf5;
  }
  
  h1 {
    text-align: center;
    color: #000000;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    background: #ffffff;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 200px;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }
  
  fieldset {
    border-radius: 10%;
    padding: 50px auto;
    margin-bottom: 15px;
  }
  
  legend {
    text-align: center;
    font-weight: bold;
    font-size: 60pt;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  input[type="radio"] {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"],
  input[type="reset"] {
    background: #ffffff;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background: #010000;
    color: white;
  }
  
  span {
    margin-left: 50px;
    margin-right: 50px;
    color: red;
    font-size: 20pt;
  }
  
  #myLogin {
    max-width: 700px;
    margin:  auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #myLogin fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  #myLogin legend {
    font-weight: bold;
    font-size: 80px;
  }
  
  #myLogin label {
    display: block;
    margin-bottom: 5px;
  }
  
  #myLogin input[type="text"],
  #myLogin input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #myLogin input[type="submit"],
  #myLogin input[type="reset"] {
    background: #ffffff;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  #myLogin input[type="submit"]:hover,
  #myLogin input[type="reset"]:hover {
    background: #000000;
    color: white;
  }